<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csharp-func-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/973ce7fb-4eb5-4bf2-9b6c-48579dc84acb/resourceGroups/func-app-group/providers/Microsoft.Web/sites/csharp-func-app</ResourceId>
    <UserName>$csharp-func-app</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://csharp-func-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>